# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\paper_time\MICCAI\Learn2Reg2021\papers\Tony Mok\Conditional_LapIRN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
